[Desktop Entry]
Name=ana
Comment=Ananda Ebook Harvester Format
Exec=python3 /home/clarktu/usr/src/py/ananda/hrv.py %f
Terminal=false
Type=Application
NoDisplay=true
