[Desktop Entry]
Name=ddns_update
GenericName=ddns_update
Comment=ddns_update
Exec=python3 /home/cytu/usr/src/py/test/ddns_update.py
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=false
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
